/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
	color: black;
}

header {
    background-color: #003366; /* Dark blue */
    color: #ffffff; /* White */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

#countdown {
    text-align: center;
    margin-top: 50px;
}

#timer {
    font-size: 1.5em;
    font-weight: bold;
    color: black; /* Change the color to black */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff; /* White */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h2 {
    color: #003366; /* Dark blue */
}

p {
    line-height: 1.5;
}

/* Countdown timer styles */
#countdown {
    margin-bottom: 20px;
}

#timer {
    font-size: 1.5em;
    font-weight: bold;
    color: black; /* Change the color to black */
}

/* Internship stories styles */
#internship-stories {
    margin-bottom: 20px;
}

#toggle-stories-button {
    background-color: #003366; /* Dark blue */
    color: #ffffff; /* White */
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#toggle-stories-button:hover {
    background-color: #0059b3; /* Darker blue */
}

#stories p {
    margin-bottom: 10px;
}

/* Video styles */
section#video {
    text-align: center;
    position: relative;
}

section#video h2 {
    margin-bottom: 20px;
    color: #003366; /* Dark blue color */
}

video#myVideo {
    width: 100%;
    height: auto;
}

.video-subtitle {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: #ffffff; /* White color */
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
}

/* Footer styles */
footer {
    background-color: #003366; /* Dark blue */
    color: #ffffff; /* White */
    padding: 20px;
    text-align: center;
}
